* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 12px;
}

div.top-header {
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}

header div.top-header p {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    display: flex;
}

header {
    background-color: #EAC926;
}

header div.logo,
header .form {
    width: 50%;
}

header div.logo {
    padding: 10px;
}

header .form {
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 11px;
}

header nav {
    font-size: 12px;
    margin-left: 20px;
    display: flex;
}

header ul li {
    list-style-type: none;
}

header ul li a {
    text-decoration: none;
    color: #000;
}

.form-search-bar {
    background-color: #FFF;
    border: 1px solid #ebebeb;
    outline: none;
    color: #666;
    padding: 2px;
    border-radius: 10px;
    width: 30%;
}

.nameField input{
    width: 90%;
    border:none;
    padding: 5px;
}

div.burger-menu {
    text-align: center;
}

div.burger-menu i {
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

div.last-visit,
div.offers {
    display: flex;
    flex-wrap: wrap;
}

.price {
    font-size: 18px;
    width: 30%;
}

.discount {
    width: 70%;
}

.discount,
.description {
    font-size: 16px;
    font-weight: normal;
}

h3,
.description {
    color: #666;
}

.description :hover {
    display: none;
    margin-top: 20px;
}

section.banner img {
    width: 100%;
}

main {
    width: 90%;
    margin: 0 auto;
}

main section article {
    background-color: #fff;
    margin: 10px 0px;
}

main section article img {
    width: 100%;
}

main section article i,
.discount {
    color: #39b54a;
}

main section article i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main section h3 {
    margin: 20px 0px;
}

article div.main-article {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

footer section {
    text-align: center;
    margin: 50px;
    overflow: visible;
    
}

footer{
    background-color: white;
    padding-top:  5px;
    padding-bottom: 5px;
}

footer h3 {
    white-space: nowrap;
    padding-bottom: 5px;

}


.footer-icons {
    margin: 50px;
    color: #0044AA;
}

footer section.copyright-message {
    text-align: left;
    margin-left: 10px;
    align-self: left;
}

.footer-icons {
    font-size: 2em;
    color: #1259c3;
    margin-bottom: 10px;
}


@media (max-width: 360px) {
    header nav {
        display: none;
    }

.header div.top-header p{
    display: block;
    }
    .description{
        display: none;
    }

    header div .logo{
       
        display: inline-flex;
        width: 45%;

    }

    .form-search-bar{
        width: 40%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    footer h3{
        width: 50%;
    }
}



@media (min-width: 361px) {


    main section article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main section div.products {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    main section div.products article {
        width: 45%;
    }

    .price,
    .discount {
        width: 50%;
    }

    .nav-bar{
        justify-content: space-between;
        padding: 10px;
        margin-right: 10px;
    }

    header ul li{
        display: inline-block;
        padding: 10px;
    }

    .burger-menu{ 
        display: none;
    }
    

    header div .logo{
       
         display: inline-flex;
         width: 35%;
     }
 
     .header div.top-header p{
       
        width: 35%;
        padding: 10px;
    }

  

    div.top-header{
        display: inline-flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
 

    .form-search-bar{
        align-self: center;
        padding: 10px;
        padding-right: 10px;
    }

    .description{
        display: none;
    }
   

    @media (min-width: 769px) {
        main section div.products article {
            width: 22%;

        }
        .description{
            display:flex;
        }

        div.top-header{
            display: inline-flex;
            width: 100%;
            align-items: center;
            padding: 2px;
            justify-content: space-between;
            
        }

        header div .logo{
       
            display: inline-flex;
            width: 25%;
        }

        footer div{
            display: inline-flex;
            width: fit-content;
            align-content: center;
            }
        }

        footer div section.copyright-message {
            background-color: blue;
            margin-left: 10px;
            display: none;
        }
        

        footer h3{
            
            white-space:normal;
            display: block
          
        }
        

      
        
       
}